<div class="jumbotron" style="text-align: center;">
  <h1>Sup Playa</h1>
  

    <div class="jumbotron">
      <div class="thumbnail">
        <img src="http://lodownmagazine.com/sites/default/files/styles/large/public/pulse/image/keith.jpg?itok=Wif1_Ynd" alt="https://dl-web.dropbox.com/get/IMG_4011.JPG?_subject_uid=305170890&w=AABlApFeee50xgyV1i5oT7eOkZCDyepAe_KnxWUZEmgh0w">
        <div class="caption" style="text-align: center;">
          <h3>Who is this?</h3>
          <p><a href="#" class="btn btn-primary"  role="button">Chicken chow mein</a>
            <a href="#" class="btn btn-primary" role="button"> Tiger</a></p>
          </div>
        </div>
    </div>





  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Press this, it does nothing!</a></p>
</div>